@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient-start: #000000;
    --gradient-middle: #6b7280;
    --gradient-end: #d1d5db;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --gradient-start: #d1d5db;
      --gradient-middle: #9ca3af;
      --gradient-end: #000000;
    }
  }
}

@layer utilities {
  .animate-gradient-shift {
    background-size: 200% 100%;
    animation: gradient-shift var(--duration, 3s) ease-in-out infinite;
  }

  .animate-shiny-text {
    animation: shiny-text 3s ease-in-out infinite;
    background-size: var(--shiny-width, 100px) 100%;
    background-repeat: no-repeat;
    background-position: -100px 0;
  }

  .animate-shine {
    background-size: 200% 100%;
    animation: shine 2s ease-in-out infinite;
  }
}

@keyframes shiny-text {
  0% {
    background-position: -100px 0;
  }
  40% {
    background-position: calc(100% + 100px) 0;
  }
  100% {
    background-position: calc(100% + 100px) 0;
  }
}

@keyframes gradient-shift {
  0% { backgroundPosition: '0% 50%' }
  50% { backgroundPosition: '100% 50%' }
  100% { backgroundPosition: '0% 50%' }
}

@keyframes shine {
  0% { background-position: '-200% center' }
  50% { background-position: '0% center' }
  100% { background-position: '200% center' }
}